
/*
#reportAProblemBar{

    
    background-color: #e6e6e6;
    text-align: center;

}
*/
#rapParent{
    padding: 0 24px 16px;
    background-color: #fff;
}

#reportAProblemBar {
    /* 1. Core Flexbox setup for centering */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center;     /* Vertically center content */
background-color: #e6e6e6;
height:50px;
    
    
}



/* 4. Ensure the anchor text is also blue and that we override the inline style */
#reportAProblemBar a {
    color: #5c92bd !important;
    height: 24px;
    text-decoration: none;
}

#reportAProblemBar a:hover{
    text-decoration: underline;
}

