<div class="container" id="reservesRequestForm">
    <h5 class="heading">Place item on reserve</h5>
    <form #courseForm="ngForm" (ngSubmit)="submitForm(courseForm)">
   
      <div class="form-group">
        <label for="course">Course</label>
        <input type="text" class="form-control" id="course" name="course" [(ngModel)]="courseDetails.course" required placeholder="e.g. Art 101">
        <div *ngIf="courseForm.controls.course?.touched && courseForm.controls.course?.invalid" class="text-danger">
          Course is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="courseTitle">Course Title</label>
        <input type="text" class="form-control" id="courseTitle" name="courseTitle" [(ngModel)]="courseDetails.courseTitle" required placeholder="e.g. Intro to Art">
        <div *ngIf="courseForm.controls.courseTitle?.touched && courseForm.controls.courseTitle?.invalid" class="text-danger">
          Please enter the course title.
        </div>
      </div>
  

  

  

  
      <div class="form-group">
        <label for="gender">Loan Period</label>
        <select class="form-control" id="loanPeriod" name="loanPeriod" [(ngModel)]="courseDetails.loanPeriod" required>
          <option value="" disabled>Select Loan Period</option>
          <option value="3 hours">3 hours</option>
          <option value="24 hours">24 hours</option>
          <option value="72 hours">72 hours</option>
        </select>
        <div *ngIf="courseForm.controls.loanPeriod?.touched && courseForm.controls.loanPeriod?.invalid" class="text-danger">
          Please select a loan period.
        </div>
      </div>

      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments" name="comments" [(ngModel)]="courseDetails.comments"></textarea>
        

      </div>
<button type="cancel" class="btn btn-primary">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>