<p>show-mmsid works!</p>

<div _ngcontent-ng-c3450719323="" class="full-display-detail ng-star-inserted" data-qa="detail_lds100">
    <h5 _ngcontent-ng-c3450719323="" class="details-label mat-title-small">OCLC Number</h5>
    <div _ngcontent-ng-c3450719323=""><!---->
        <div _ngcontent-ng-c3450719323="" class="ng-star-inserted">
            <div _ngcontent-ng-c3450719323="" class="flex-row flex-layout-center ng-star-inserted" aria-label="undefined42329309"><!---->
                <span _ngcontent-ng-c3450719323="" class="break-word ng-star-inserted">
                    <span dir="auto" class="mat-body-medium ng-star-inserted">42329309</span><!---->
                </span><!----><!----><!---->
            </div><!---->
        </div>
        <div _ngcontent-ng-c3450719323="" class="ng-star-inserted">
            <div _ngcontent-ng-c3450719323="" class="flex-row flex-layout-center ng-star-inserted" aria-label="undefined923263710"><!----><!---->
                <span _ngcontent-ng-c3450719323="" class="break-word ng-star-inserted">
                    <span dir="auto" class="mat-body-medium ng-star-inserted">923263710</span><!----><!---->
                </span><!----><!----><!---->
            </div><!---->
        </div><!----><!----><!---->
    </div>
</div>
